@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
:root {   /*para criar variaveis no css*/
    --branco-principal: #ffff;
    --cinza-secundario: #c0c0c0;
    --botao-azul: #167bf7;
    --cor-fundo: #00030c;
    --fonte-principal: 'Inter';
    --botao-azul-efeito: #73b0fa;
 }

 body {
     background-color:  var(--cor-fundo);
     color: var(--branco-principal);
     font-family: var(--fonte-principal);
     font-size: 16px;
     font-weight: 400;
 }
/*para selecionar um estilo para todos os elementos*/
 * {
     margin: 0;
     padding: 0;
 }

 .principal {
     background-image: url("Background.png");
     background-repeat: no-repeat;
     background-size: contain;
     align-items: center;
     text-align: center;
 }

 .container {
     height: 100vh;
     display: grid;
     grid-template-columns: 50% 50%;
 }

 .container-botao {
     background-color: var(--botao-azul);
     border-radius: 5px;
     padding: 1em;
     color: var(--branco-principal);
     display: block;
     text-decoration: none;
     margin-bottom: 1em;
 }

 .container-botao2 {
     background-color: transparent;
     border: 2px solid var(--branco-principal);
 }

 .container-aviso {
     font-size: 15px;
     color: var(--cinza-secundario);
 }

 .container-titulo {
     font-size: 28px;
     font-weight: 700;
 }

 .container-imagem {
     margin: 1em 0 2em 0; /*essas quatro tamanhos, são como um relogio, o 1em é meia noite(o topo), o 0 o lado, e o 2em é meio dia(embaixo)*/
 }
/*aqui esta configurado 0 para o topo e embaixo, e 6m para os lados*/
 .container-caixa {
     margin: 0 6em;
 }

 .secundario-imagem {
     width: 80%;
 }

 .secundario {
     align-items: center;
     margin: 0 10em;
 }

 .descricao-titulo {
     font-weight: 700;
     font-size: 48px;
     color: var(--branco-principal);
     margin-bottom: 0.1em;
 }

 .descricao-texto {
     color: var(--cinza-secundario);
}

.container-botao3 {
    display: inline-block;
    margin-top: 1em;
}

.container-descricao {
    padding: 2em;
}

.dispositivos-lista {
    display: flex;
    justify-content: center;
    list-style-type: none; /*para tirar a bolinha asterico da lista de items na secao dispositivos*/
}

.dispositivos {
    text-align: center;
}

.dispositivos-titulo {
    font-size: 48px;
    color: var(--branco-principal);
}

.lista-item{
    font-size: 30px;
    color: var(--branco-principal);
}

.dispositivos-lista {
    margin: 5em 0;
}

.rodape-logo {
    text-align: center;
}

.rodape-lista {
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin-top: 1em;
}

.lista-link a {
    color: var(--branco-principal);
    margin-left: 1em;
    text-decoration: none;/*para tirar o estilo sublinhado nos links*/
}

.rodape-texto {
    margin: 1em 0;
    color: var(--branco-principal);
    font-size: 14px;
}

.rodape {
    text-align: center;
    margin: 5em 3em;
}

.rodape-logo {
    margin-bottom: 2em;
}

.lista-link a:hover {
    color: var(--botao-azul);/*quando passar o mouse por cima o link ficara azul*/
}

.lista-link a:active {
    color: purple;
}

.container-botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-fundo);
}